div.org-infogrid-authp {
    border: #808080 2px solid;
    margin: 30px auto 30px auto;
    padding: 0 10px 10px 10px;
    width: 400px;
    background: url('../s/images/vert-grad-gray.png') repeat-x bottom left;
}
div.org-infogrid-authp col.field {
    width: 280px;
}
div.org-infogrid-authp td {
    padding: 5px;
}
div.org-infogrid-authp td.right {
    padding-right: 15px;
}
div.org-infogrid-authp h3 {
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    margin: 5px 0;
    padding: 0;
}
div.org-infogrid-authp input {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 100%;
    background: white;
}
div.org-infogrid-authp input.field {
    border: 1px solid #a0a0a0;
    width: 95%;
}
div.org-infogrid-authp td.submit {
    text-align: center;
    padding: 10px;
}
div.org-infogrid-authp input.submit {
    margin: 0 auto;
    border: #a0a0a0 2px solid;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}