div.org-infogrid-jee-taglib-mesh-RefreshTag {
    float: right;
    border-width: 0px;
    border-style: solid;
    padding: 5px;
    font-size: 0.7em;
    margin: 0 0 5px 5px;
    font-size: 0.7em;
}