div.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-sidebar {
    width: 19%;
    border-width: 1px;
    border-style: solid;
    min-height: 600px;
    overflow: auto;
}
div.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-sidebar dt {
    list-style: none;
    margin: 1px 0 1px 5px;
}
div.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-sidebar dt:before {
    content: "\25aa";
    margin: 0 5px 0 5px;
}
div.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-sidebar dl.level1 > dt {
    font-weight: bold;
}
div.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-sidebar dd {
    margin-left: 20px;
}
div.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-sidebar dt {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}
div.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-content {
    float: right;
    width: 80%;
    height: 100%;
    min-height: 600px;
}
