.org-infogrid-jee-taglib-mesh-PropertyValueTag-hide {
    display: none;
}
div.org-infogrid-jee-taglib-mesh-PropertyValueTag-show {
    display: block;
}
input.org-infogrid-jee-taglib-mesh-PropertyValueTag-show,
select.org-infogrid-jee-taglib-mesh-PropertyValueTag-show {
    display: inline;
}