/* Defines the color scheme for this app's main appcontext. */

body {
    background: #dadada;
}

textarea {
    border-color: #808080;
}

.footnote {
    color: #606060;
}

div.canvas-main {
    background: #ffffff;
}

#canvas-app-row > div.canvas-main {
    background: #f0f0f0;
    background-image: url(../../images/white-shift-vertical-long.png);
    border-bottom: 1px solid #808080;
}

#canvas-bottom > div.canvas-main {
    border-color: #d0d0d0;
}

div.errors {
    background: #fff0f0;
    border-color: red;
}
div.errors > h2 {
    color: red;
    margin: 0;
}

div.viewlet {
    border-color: #d0d0d0;
}

button.commit {
    border-color: #404040;
    background-image: url(../../images/tick.png);
}
button.cancel {
    border-color: #404040;
    background-image: url(../../images/cancel.png);
}

div.viewlet-state {
    background-color: white;
    background-image: url(../../../../../../s/images/white-shift-vertical-short.png);
}

dt {
    border-color: transparent;
}
dt.reached {
    border-color: #c0c0e0;
}
dt.selected {
    background: #8080b0;
    border-color: #c0c0e0;
}
dt.selected,
dt.selected * {
    color: white;
}

div.org-infogrid-jee-taglib-candy-OverlayTag {
    background: #ffffff;
    border: 1px solid #000;
}
div#org-infogrid-jee-taglib-candy-OverlayTagCanvas {
    background: #808080;
}

div.org-infogrid-jee-viewlet-propertysheet-PropertySheetViewlet div.audit {
    border-color: #808080;
}
div.org-infogrid-jee-viewlet-propertysheet-PropertySheetViewlet > table {
    border: 1px solid #808080;
}
div.org-infogrid-jee-viewlet-propertysheet-PropertySheetViewlet > table > thead > tr > th {
    border: #808080 1px solid;
    background-image: url(../../images/white-shift-vertical-short.png);
    background-repeat: repeat-x;
}
div.org-infogrid-jee-viewlet-propertysheet-PropertySheetViewlet > table > * > tr > td,
div.org-infogrid-jee-viewlet-propertysheet-PropertySheetViewlet > table > * > tr > td > div.audit {
    border-width: 1px;
    background: white;
}
div.org-infogrid-jee-viewlet-propertysheet-PropertySheetViewlet > table > * > tr > td.title,
div.org-infogrid-jee-viewlet-propertysheet-PropertySheetViewlet > table > * > tr > td.audit {
    background-color: inherit;
}
div.org-infogrid-jee-viewlet-propertysheet-PropertySheetViewlet > table > * > tr > * {
    padding: 5px;
    border-width: 0px 1px;
    border-style: dotted;
    border-color: #808080;
}
div.org-infogrid-jee-viewlet-propertysheet-PropertySheetViewlet > table > * > tr > .type {
    border-bottom: 0px;
}

div.org-infogrid-jee-taglib-viewlet-ViewletAlternativesTag {
    background: white;
    border-color: #808080;
}

div.org-infogrid-jee-viewlet-meshbase-AllMeshObjectsViewlet table.set > tbody > tr.bright {
    background: white;
}

div.org-infogrid-jee-viewlet-meshbase-AllMeshObjectsViewlet table.set > tbody > tr.dark {
    background: #f6f6ff;
}
div.org-infogrid-jee-viewlet-meshbase-AllMeshObjectsViewlet > table.set > tbody > tr > td {
    border-color: #d0d0d0;
}
div.org-infogrid-jee-viewlet-meshbase-AllMeshObjectsViewlet > table.set > tbody > tr > td > ul > li > p {
    border-color: #d0d0d0 !important;
}
div.org-infogrid-jee-viewlet-meshbase-AllMeshObjectsViewlet > table.set > thead > tr > * {
    background: url(../../../../../../s/images/white-shift-vertical-short.png) top repeat-x;
}

div.org-infogrid-jee-viewlet-modelbase-AllMeshTypesViewlet tr.satitle,
div.org-infogrid-jee-viewlet-modelbase-AllMeshTypesViewlet table.amo tr.amotitle,
div.org-infogrid-jee-viewlet-modelbase-AllMeshTypesViewlet table.amo table.property tr.propertytitle {
    background: #e0e0e0;
}

div.org-infogrid-jee-viewlet-modelbase-AllMeshTypesViewlet tr.satitle > td,
div.org-infogrid-jee-viewlet-modelbase-AllMeshTypesViewlet tr.sacontent > td {
    border-color: #a0a0a0;
}
div.org-infogrid-jee-viewlet-modelbase-AllMeshTypesViewlet table.amo tr.amotitle > td,
div.org-infogrid-jee-viewlet-modelbase-AllMeshTypesViewlet table.amo tr.amocontent > td {
    border-color: #a0a0a0;
}
div.org-infogrid-jee-viewlet-modelbase-AllMeshTypesViewlet table.amo tr.amotitle span.label,
div.org-infogrid-jee-viewlet-modelbase-AllMeshTypesViewlet table.sa tr.satitle span.label,
div.org-infogrid-jee-viewlet-modelbase-AllMeshTypesViewlet table.property tr.propertytitle span.label {
    font-weight: bold;
}

div.org-infogrid-jee-viewlet-wikiobject-WikiObjectEditViewlet div.content {
    border-color: #808080;
    background: white;
}
div.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-sidebar {
    background: #f0f0f0;
    border-color: #e0e0e0;
}
div.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-content {
    background: #ffffff;
    border-color: #e0e0e0;
}
table.dialog-buttons {
    border-top-color: #808080;
}

