span.org-infogrid-model-primitives-Property {
}
span.org-infogrid-model-primitives-Property-value {
    display: inline;
}
span.org-infogrid-model-primitives-Property-no-value {
    display: none;
}
span.org-infogrid-model-primitives-Property-create {
    display: none;
}
span.org-infogrid-model-primitives-Property-remove {
    display: none;
}

